{% for s in seasons %}
  {% # convert start and end to utc timestamps and compare to system.timestamp.utc %}    
  {% # start_utc and end_utc look like "2025-01-10" and then converted to timestamp, timestamp_utc looks like 1751222780 # %}
  {% # end date needs to be the _end_ of the date specified, not the beginning. 23h 59m 59s is 86399s %}  
  {% assign start_utc = trmnl.system.timestamp_utc | date: "%Y" | append:"-" | append:s.start | date: "%s" | plus: 0 %}
  {% assign end_utc = trmnl.system.timestamp_utc | date: "%Y" | append:"-" | append:s.end | date: "%s" | plus: 86399 %}  
  {% if trmnl.system.timestamp_utc >= start_utc and trmnl.system.timestamp_utc < end_utc %}  
    {% assign season = s %}
    {% break %}
  {% endif %}
{% endfor %}
<div class="layout layout--col gap--space-between">
    <div class="item">
      <div class="content">
        <span class="value">{{ season.en }}</span>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <span class="value" data-value-fit="true">{{ season.kanji }}</span>
      </div>
    </div>

</div>

<div class="title_bar">
  <span class="instance">72 kÅ</span>
</div>
